#fiveDayForecastCards{
    display:flex;
}

.UVfavorable{
    background-color: green;
}

.UVmoderate{
    background-color: yellow;
}

.UVsevere{
    background-color: red;
}

.jumbotron {
    background-color:darkgrey;
    text-align:center;
    color:white;
}